@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-custom-white font-body text-lg text-custom-grey;
}

.button1 {
    @apply rounded-lg border-3 border-custom-black bg-custom-grey font-semibold text-custom-white hover:border-custom-grey hover:bg-custom-lightgrey;
}

.input1 {
    @apply h-14 resize-none rounded-full border-3 border-custom-black bg-custom-blue p-2.5 pl-5 font-normal text-custom-white placeholder-custom-white outline-none focus:border-custom-blue focus:bg-custom-grey;
}

.input2 {
    @apply resize-none rounded-4xl border-3 border-custom-white bg-custom-blue p-2.5 pl-5 font-normal text-custom-white placeholder-custom-white outline-none focus:border-custom-blue focus:bg-custom-black;
}

.text-shadow1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

.text-shadow2 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.text-shadow3 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04);
}
